# Folders
build/
data/

# Doxygen
Doxyfile
html/
latex/

# Data Input- Outputfiles
*.png
*.pgm
*.wav
*.TextGrid
*.mfcc

# Tempfiles
*.swp

# Executables
s2pam_trainNN
s2pam_featureExtraction
s2pam_prepareSets
